<?xml version="1.0" encoding="utf-8"?>

<manifest package="org.wordpress.android.fluxc.example"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".ExampleDebugApp"
        tools:replace="android:name" />

</manifest>
